@import "reset";
@import "mdh-variables";
@import "ui-components/ui-components";
@import "mdh-override";
@import "perfect-scrollbar/main";
@import "dashboard";

/* START: MDH CSS */


/* START: Global */
@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans-Regular.ttf"), url("assets/fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("assets/fonts/OpenSans-Bold.ttf");
}

body {
    font-family: "Open Sans", arial, sans-serif;
    margin: 0 auto;
    font-size: 14px;
    /* min-height: 600px;
    overflow: hidden; */
}

h1 {
    font-size: $font-l;
    padding: 6px 0;
    font-family: "Open Sans Bold";
    color: $fontBoldColor;
}

h2 {
    font-size: $font-m;
    color: $defaultColor;
    padding: 6px 0;
    color: $defaultFontColor;
}

button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: $font-m;
    cursor: pointer;
    border: 1px solid $defaultColor;
    background-color: white;
    color: black;
    font-family: "Open Sans Bold";
    width: 150px;
    user-select: none;
    outline: none;
}

.clearfix:after {

    content: "";
    display: table;
    clear: both;
}

.section-box {
    margin: 0 auto;
    width: 980px;
}

textarea:focus, input:focus{
    outline: none;
}

/* END: Global */

/* START: Specific */
header {
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1 );

    #top-nav {

        margin-bottom: -2px;

        a {
            font-family: "Open Sans Bold";
            font-size: 16px;
            color: $defaultFontColor;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            width: 17%;
            margin-right: 5%;
            padding-top: 24px;
            padding-bottom: 12px;
            cursor: pointer;

            &.active {

                color: $defaultFontColor2;
            }
        }
    }
}

        




        
    