@import "mdh-variables";

/* START: Scrollbar */
.dropdown-list {
    
    position: relative;
    bottom: -1px; /* Hide scrollbar's bottom line */
    
}

/* Hide scrollbar's bottom line */
.dropdown-content-footer {
    
    background-color: white; 
    border-bottom-left-radius: $defaultBorderRadius;
    border-bottom-right-radius: $defaultBorderRadius;
}

.inner-bar-of-scrollbar {
    
    background-color: $defaultColor;
    position: relative;
    height: 80%;
    top: 10%;
    border-radius: 6px;
}

/* END: Scrollbar */

/* START: Override Pikaday */

.pika-single {
    
    border: none;
    font-family: $defaultFontFamily;
    
    .pika-lendar {
        
        width: 217px;
    }
}

.pika-button {
    
    background-color: transparent;
    text-align: center;
}

.pika-table th {
    
    color: $defaultFontColor;
}

.pika-table abbr {
    
    text-decoration: none;
}

.pika-title select {
    
    color: $defaultFontColor;
    
    option {
        color: $defaultFontColor2;
        font-family: $defaultFontFamily;
    }
}

.pika-title {
    
    border-bottom: $defaultBorder;
    height: 38px;
    margin-left: -9px;
    margin-right: -11px;
}

.pika-table {
    
    margin-top: 10px;
}

.pika-prev, .is-rtl .pika-next {
    
    margin-left: 9px;
}

.pika-next, .is-rtl .pika-prev {
    
    margin-right: 11px;
}

/* END: Override Pikaday */