@import "mdh-variables";



/* START: jQuery Scrollbar */

.scrollbar-inner > .scroll-element.scroll-y {
    height: 85%;
    right: 5px;
    top: 13px;
    width: 5px;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    
    background-color: transparent;
}

/* END: jQuery Scrollbar */


/* START: Override Pikaday */

.pika-single {
    
    border: none;
    font-family: $defaultFontFamily;
    
    .pika-lendar {
        
        width: 217px;
    }
}

.pika-button {
    
    background-color: transparent;
    text-align: center;
}

.pika-table th {
    
    color: $defaultFontColor;
}

.pika-table abbr {
    
    text-decoration: none;
}

.pika-title select {
    
    color: $defaultFontColor;
    
    option {
        color: $defaultFontColor2;
        font-family: $defaultFontFamily;
    }
}

.pika-title {
    
    border-bottom: $defaultBorder;
    height: 40px;
    margin-left: -9px;
    margin-right: -11px;
}

.pika-table {
    
    margin-top: 10px;
}

.pika-prev, .is-rtl .pika-next {
    
    margin-left: 9px;
}

.pika-next, .is-rtl .pika-prev {
    
    margin-right: 11px;
}

/* END: Override Pikaday */