@import "variables";

/* START: Override pikaday */

.pika-single {
    
    border: none;
    font-family: $defaultFontFamily;
    
    .pika-lendar {
        
        width: 217px;
    }
}

.pika-button {
    
    background-color: transparent;
    text-align: center;
}

.pika-table th {
    
    color: $defaultFontColor;
}

.pika-title select {
    
    color: $defaultFontColor;
    
    option {
        color: $defaultFontColor2;
        font-family: $defaultFontFamily;
    }
}

.pika-title {
    
    border-bottom: $defaultBorder;
    height: 40px;
    margin-left: -9px;
    margin-right: -11px;
}

.pika-table {
    
    margin-top: 10px;
}

.pika-prev, .is-rtl .pika-next {
    
    margin-left: 9px;
}

.pika-next, .is-rtl .pika-prev {
    
    margin-right: 11px;
}

/* END: Override pikaday */