@import "variables";

.text-box {
	border-radius: $defaultBorderRadius;
	border: 1px solid $defaultColor;
	padding: $textBoxPaddingTop 12px;
	height: $textBoxHeight;
	box-sizing: border-box;
	width: 100%;
	color: $defaultFontColor;
	font-family: $defaultFontFamily;
	font-size: $font-m;
}

.dropdown-box {
	display: block;
	padding: 0;
	border-radius: $defaultBorderRadius;
	position: relative;
	border: $defaultBorder;
	background-color: white;
	cursor: pointer;
	user-select: none;
}
	
	.dropdown-box.is-opened {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: $dropdownBoxShadow;
	}
	
	.dropdown-box.is-opened .dropdown-list {
		display: block;
		box-shadow: $dropdownBoxShadow;
	}
	.dropdown-header {
		padding-left: 12px;
		padding-right: 12px;
	}
		.dropdown-icon {
            
			position: absolute;
			top: 40%;
			right: 2%;
			width: 30px;
			height: 8px;
            overflow: hidden;
		}
            
            .svg-dropdown-icon {
                margin-top: -14px;
            }
                
                .svg-dropdown-icon path {
                    fill: #d8d8d8;
                }
		
		.is-opened .dropdown-icon {
			background-position: 0 -8px;
		}
        
            .is-opened .svg-dropdown-icon {
                margin-top: -6px;
            }
		
		.dropdown-name {
			padding: 18px 0;
			color: $defaultFontColor;
		}
		
		.is-selected .dropdown-name {
			padding: 8px 0 4px 0;
			font-size: $font-s;
			
		}
        
        .is-selected-basic .dropdown-name {
            display: none;
        }
        
        .is-selected-basic .dropdown-selected {
            padding: 18px 0;
			color: $defaultFontColor;
        }
        
		.is-selected .dropdown-selected {
			padding: $dropdownPadding;
			color: #3a4350;
			padding: 4px 0 8px 0;
			user-select: none;
		}

	.dropdown-list {
		display: none;
		position: absolute;
		z-index: 1;
		left: -1px;
		right: -1px;
		border-left: $defaultBorder;
		border-right: $defaultBorder;
		border-bottom: $defaultBorder;
		border-bottom-left-radius: $defaultBorderRadius;
		border-bottom-right-radius: $defaultBorderRadius;
		background-color: white;
		
	}
	
		.dropdown-list  > li {
            position: relative;
			padding: $dropdownPadding;
			border-top: 1px solid $defaultColor;
			color: #2a2a2a;
		}
            
			.is-opened .item-selected {

                padding-left: 40px;

			}
            
                .svg-selected-icon {
                    display: none;
                    position: absolute;
                    left: 7px;
                    top: 11px;
                }
                    
                    .svg-selected-icon path {
                        fill:#47CE87;
                    }
                
                .item-selected .svg-selected-icon {

                    display: block;    
                }
                
			
		.dropdown-list .dropdown-list-footer {
			position: relative;
			padding: 20px 12px;
		}
		
			.dropdown-list .num-of-selected {
				color: $defaultFontColor;
				font-size: $font-s;
			}
			
			.dropdown-list .done {
				position: absolute;
				right: 16px;
				top: 16px;
				font-size: $font-s;
				border: 1px solid #1d92ed;
				color: #1d92ed;
				padding: 5px 15px;
				border-radius: $defaultBorderRadius;
				
			}
			
			.dropdown-list .done:hover {
				
				 box-shadow: 0 0 4px 0 #1d92ed;
			}
            
/* END: DropdownBox */

            
/* START: Table */

.table-main {
    background-color: white;
    box-shadow: $defaultBoxShadow;
    padding: 12px 0;
    border-radius: $defaultBorderRadius;
    margin-bottom: 12px;
    border: $defaultBorder;
}
    .table-main  li{
        padding: 0 36px;
        color: #9f9f9f;
    }
    
    .table-main .table-header {
        font-family: $fontFamilyBold;
        border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
        color: $fontBoldColor;
        
    }
    
    .table-main label {
        
        display: inline-block;
        width: 19%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0.5%;
        padding: 16px 0;
        
    }
    
.table-box-footer {
    height: 300px;
}
    .table-box-footer .per-page {
        float: left;
        background-color: white;
        border-radius: $defaultBorderRadius;
        padding-left: 12px;
        color: $defaultFontColor;
        box-shadow: $defaultBoxShadow;
        border: $defaultBorder;

    }
        .num-per-page {
            
            margin-left: 20px;
            display: inline-block;
            width: 60px;
            border: none;
            border-left: 1px solid rgba( 0, 0, 0, 0.1 );
            border-radius: 0;
            border-top-right-radius: $defaultBorderRadius;
            border-bottom-right-radius: $defaultBorderRadius;
            
        }
        
        .number-per-page.is-opened {
            border-bottom-right-radius: 0;
        }
        
            .num-per-page .dropdown-list {
                box-shadow: $defaultBoxShadow;
                border:0;
                left: 0;
                right: 0;
            }
            
            .num-per-page .dropdown-name {
                
                padding: 16px 0;
            }
            
            .num-per-page .is-selected-basic .dropdown-selected {
                
                padding: 16px 0;
            }
        
                .num-per-page .dropdown-list > li {
                    border-top: 1px solid rgba( 0, 0, 0, 0.1 );
                }
                
                
        
    .pager {
        float: right;
        padding: 16px 0;
        background-color: white;
        border-radius: $defaultBorderRadius;
        box-shadow: $defaultBoxShadow;
        border: $defaultBorder;
    }
        
        .pager-prev, .pager-next, .pager-current {
            
            padding: 0 18px;
        }
        
        .pager-prev {
            border-right: $defaultBorder2;
        }
        
        .pager-next {
            border-left: $defaultBorder2;
        }
    