@import "variables";

.text-box {
    border-radius: $defaultBorderRadius;
    border: 1px solid $defaultColor;
    padding: 16px 12px;
    box-sizing: border-box;
    width: 100%;
    color: $defaultFontColor;
    font-family: $defaultFontFamily;
    font-size: $font-m;
    height: $defaultBoxHeight;
}

.text-box.is-filled {
    
    color: $defaultInputColor;
}

.check-box {
    
    border-radius: $defaultBorderRadius;
    border: 1px solid $defaultColor;
    padding: 18px 12px;
    box-sizing: border-box;
    color: $defaultFontColor;
    box-sizing: border-box;
    font-family: $defaultFontFamily;
    font-size: $font-m;
    height: $defaultBoxHeight;
    cursor: pointer;
    user-select: none;
}

.check-box.is-checked {
    
    color: $defaultInputColor;
}

/* START: DatepickBox */
.datepick-box {
    
    display: block;
    padding: 0;
    border-radius: $defaultBorderRadius;
    position: relative;
    border: $defaultBorder;
    background-color: white;
    box-sizing: border-box;
    height: $defaultBoxHeight;
    color: $defaultFontColor;
    position: relative;
    
    .svg-calendar-icon {
        
        position: absolute;
        top: 23%;
        right: 3%;
        
        path{
        
            fill: #d8d8d8;
        }
    }

    .datepick-header {
        
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer;

        .datepick-picked {
            display: none;
            border: none;
            font-size: 14px;
            color: $defaultInputColor;
            margin-top: 2px;
            padding-bottom: 6px;
            width: 100%;
        }
        
        .datepick-title {
            padding: 18px 0;
            font-size: $defaultFontSize;
            user-select: none;
        }
    }
    
    .datepick-content {
        position: absolute;
        z-index: 10;
        display: none;
        border: $defaultBorder;
        border-top: none;
        left: -1px;
        right: -1px;
        background-color: white;
        border-bottom-left-radius: $defaultBorderRadius;
        border-bottom-right-radius: $defaultBorderRadius;
        padding-bottom: $defaultBorderRadius; /* NOT wrong. Make the radius viewable */
    }

    &.is-opened {
        
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        
        & .datepick-content {
            border-top: $defaultBorder;
            display: block;
        }
        
        & .datepick-title {
            padding: 8px 0 4px 0;
            font-size: $font-s;
        }
        
        & .datepick-picked {
            
            display: block;
        }
        
        & .svg-calendar-icon path {
            
            fill: #2894ea;
        }
    }
    
    &.is-picked {
        
        & .datepick-title {
            
            padding: 8px 0 4px 0;
            font-size: $font-s;
        }
        
        & .datepick-picked {
            
            display: block;
        }
    }
    
    
}
/* END: DatepickBox */

/* START: DropdownBox */
.dropdown-box {
    display: block;
    padding: 0;
    border-radius: $defaultBorderRadius;
    position: relative;
    border: $defaultBorder;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    height: $defaultBoxHeight;
    user-select: none;
}
    
    .dropdown-box.is-opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: $dropdownBoxShadow;
    }
    
    .dropdown-box.is-opened .dropdown-content {
        display: block;
        box-shadow: $dropdownBoxShadow;
    }
    
    .dropdown-box.dropdown-box-disabled {
        
        border: 1px solid $defaultDisabledColor;
        cursor: default;
    }
    
        .dropdown-box-disabled .dropdown-title {
            
            color: $defaultDisabledColor;
        }
        
            .dropdown-box-disabled .svg-dropdown-icon path {
                
                fill: $defaultDisabledColor;
            }
        
        .dropdown-header {
            padding-left: 12px;
            padding-right: 12px;
        }
        
            .dropdown-box.is-opened .dropdown-header {
                
                border-bottom: 1px solid $defaultColor;
                
            }
        
            .dropdown-icon {
                
                position: absolute;
                top: 40%;
                right: 2%;
                width: 30px;
                height: 8px;
                overflow: hidden;
            }
                
                .svg-dropdown-icon {
                    margin-top: -14px;
                }
                    
                    .svg-dropdown-icon path {
                        fill: #d8d8d8;
                    }
            
            .is-opened .dropdown-icon {
                background-position: 0 -8px;
            }
            
                .is-opened .svg-dropdown-icon {
                    margin-top: -6px;
                }
            
            .dropdown-title {
                padding: 18px 0;
                color: $defaultFontColor;
            }
            
            .is-selected .dropdown-title {
                padding: 8px 0 4px 0;
                font-size: $font-s;
                
            }
            
            .is-selected-basic .dropdown-title {
                display: none;
            }
            
            .is-selected-basic .dropdown-selected {
                padding: 18px 0;
                color: $defaultFontColor;
            }
            
            .is-selected .dropdown-selected {
                padding: $dropdownPadding;
                color: #3a4350;
                padding: 4px 0 8px 0;
                user-select: none;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            left: -1px;
            right: -1px;
            border-left: $defaultBorder;
            border-right: $defaultBorder;
            border-bottom: $defaultBorder;
            border-bottom-left-radius: $defaultBorderRadius;
            border-bottom-right-radius: $defaultBorderRadius;
            background-color: white;
        }
        
            .dropdown-list {   
                max-height: 185px; /* Magic Number */
                overflow: scroll;
                border-bottom-left-radius: $defaultBorderRadius;
                border-bottom-right-radius: $defaultBorderRadius;
                overflow-x: hidden;
            }
            
            .dropdown-list > li {
                position: relative;
                padding: $dropdownPadding;
                border-bottom: 1px solid $defaultColor;
                color: #2a2a2a;
            }
            
            .dropdown-list > li:last-child {
                border-bottom: none;;
            }
                
                .is-opened .item-selected {

                    padding-left: 40px;

                }
                
                    .svg-selected-icon {
                        display: none;
                        position: absolute;
                        left: 7px;
                        top: 11px;
                    }
                        
                        .svg-selected-icon path {
                            fill:#47CE87;
                        }
                    
                    .item-selected .svg-selected-icon {

                        display: block;    
                    }
                    
                
            .dropdown-content-footer {
                position: relative;
                padding: 20px 12px;
                border-top: $defaultBorder;
            }
            
                .dropdown-content-footer .num-of-selected {
                    color: $defaultFontColor;
                    font-size: $font-s;
                }
                
                .dropdown-content-footer .done {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    font-size: $font-s;
                    border: 1px solid #1d92ed;
                    color: #1d92ed;
                    padding: 5px 15px;
                    border-radius: $defaultBorderRadius;
                    
                }
                
                .dropdown-content-footer .done:hover {
                    
                     box-shadow: 0 0 4px 0 #1d92ed;
                }
            
/* END: DropdownBox */

            
/* START: TableBox */
.table-box { 

}

.table-box button{
    border: $defaultBorder;
    box-shadow: 0px 2px 4px 0 rgba(174, 176, 177, 0.3);
}
    
    .table-box-header {
        margin-bottom: 20px;
    }

        .table-box-heading {
            display: inline-block;
            margin-right: 30px;
        }

        .number-displayed-heading {
            display: inline-block;
            color: #aaa;
            font-size: 16px;
        }

        .export-all {
            float: right;
            margin-right: 20px;
            width: 220px;
        }

        .customise {
            float: right;
        }

    .table-box-main {
        background-color: white;
        box-shadow: $defaultBoxShadow;
        padding: 12px 0;
        border-radius: $defaultBorderRadius;
        margin-bottom: 12px;
        border: $defaultBorder;
    }
        .table-box-main li{
            padding: 0 36px;
            color: #9f9f9f;
        }
        
        .table-box-main .table-box-main-header {
            font-family: $fontFamilyBold;
            border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
            color: $fontBoldColor;            
        }
            
            .sort-icon {
                
                width: 20px;
                height: 20px;
                position: absolute;
                top: 30%;
            }
            
                .sort-icon-up polygon { 
                
                    fill:#D8D8D8; 
                }
                
                .sort-icon-up path {
                    
                    fill:#2794EA; 
                }
                
                .sort-icon-inactive path {
                    
                    fill:#D8D8D8; 
                    
                }
                
                .sort-icon-down polygon { 
                
                    fill:#D8D8D8; 
                }
                
                .sort-icon-down path {
                    
                    fill:#2794EA; 
                }
    
        .table-box-main span {
            
            display: inline-block;
            width: 19%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 0.5%;
            padding: 16px 0;
            
        }
            
        .table-box-main-header span {
            position: relative;
            user-select: none;
            cursor: pointer;
        }
        
        .table-column-sorted {
            
            color: #2894ea;;
        }
        
    .table-box-footer {
        height: 400px;
    }
        .table-box-footer .per-page {
            float: left;
            background-color: white;
            border-radius: $defaultBorderRadius;
            padding-left: 12px;
            color: $defaultFontColor;
            box-shadow: $defaultBoxShadow;
            border: $defaultBorder;
            height: 46px;
        }
            .num-per-page {
                
                margin-left: 20px;
                display: inline-block;
                width: 68px;
                border: none;
                border-left: 1px solid rgba( 0, 0, 0, 0.1 );
                border-radius: 0;
                border-top-right-radius: $defaultBorderRadius;
                border-bottom-right-radius: $defaultBorderRadius;
                height: auto;
            }
            
            .num-per-page.is-opened {
                border-bottom-right-radius: 0;
            }
            
                .num-per-page .dropdown-header {
                    margin-right: -1px;
                    border-right: $defaultBorder;
                    border-top-right-radius: $defaultBorderRadius;
                    border-bottom-right-radius: $defaultBorderRadius;
                }
                
                    .num-per-page.is-opened .dropdown-header {
                        border-bottom-right-radius: 0;
                    }
            
                .num-per-page .dropdown-list {
                    box-shadow: $defaultBoxShadow;
                    border:0;
                    left: 0;
                    right: 0;
                }
                
                .num-per-page .dropdown-title {
                    
                    padding: 16px 0;
                }
                
                .num-per-page.is-selected-basic .dropdown-selected {
                    
                    padding: 16px 0;
                }

                    
        .pager {
            float: right;
            padding: 16px 0;
            background-color: white;
            border-radius: $defaultBorderRadius;
            box-shadow: $defaultBoxShadow;
            border: $defaultBorder;
            color: $defaultFontColor;
        }
            
            .pager-prev, .pager-next, .pager-current {
                
                padding: 0 18px;
            }
            
            .pager-prev, .pager-next {
                
                user-select: none;
                cursor: pointer;
            }
            
            .pager-prev {
                border-right: $defaultBorder2;
                
            }
            
            .pager-next {
                border-left: $defaultBorder2;
                
            }
            
/* END: TableBox */