/* Sass variables */

$font-s: 12px;
$font-m: 14px;
$font-l: 20px;

$textBoxPaddingTop: 8px;
$textBoxHeight: 52px;
$borderSize: 1px;
$dropdownPadding: 16px 12px;
$dropdownBoxShadow: 3px 3px 5px 0 #eee;

$defaultColor: #d4d4d4;
$defaultBorder: 1px solid $defaultColor;
$defaultBoxShadow: 0px 2px 4px 0 rgba( 174, 176, 177, 0.3 );
$defaultFontColor: #9f9f9f;
$defaultBorderRadius: 6px;
$defaultFontFamily: "Open Sans", arial, sans-serif;

$fontFamilyBold: "Open Sans Bold", arial, sans-serif;
$tablePadding: 24px;
$fontBoldColor: #2a2a2a;