/* Sass variables */

$font-s: 12px;
$font-m: 14px;
$font-l: 20px;

$font-small: 12px;
$font-medium: 14px;
$font-large: 20px;


$textBoxPaddingTop: 8px;
$textBoxHeight: 52px;
$borderSize: 1px;
$dropdownPadding: 16px 12px;
$dropdownBoxShadow: 3px 3px 5px 0 #eee;

$defaultFontSize: 14px;
$defaultColor: #d4d4d4;
$defaultInputColor: #3a4350;
$defaultBorder: 1px solid $defaultColor;
$defaultBorder2: 1px solid rgba( 0, 0, 0, 0.1 );
$defaultBoxShadow: 0px 2px 4px 0 rgba( 174, 176, 177, 0.3 );
$defaultFontColor: #9f9f9f;
$defaultFontColor2: #2a2a2a;
$defaultBorderRadius: 6px;
$defaultFontFamily: "Open Sans", arial, sans-serif;
$defaultBoxHeight: 52px;
$defaultDisabledColor: #e9e9e9;
$defaultBoxShadow: 3px 3px 5px 0 #eee;
$defaultBoxTitlePadding: 8px 0 4px 0;

$fontFamilyBold: "Open Sans Bold", arial, sans-serif;
$tablePadding: 24px;
$fontBoldColor: #2a2a2a;