@import "_variables";

.check-box {
    
    border-radius: $defaultBorderRadius;
    border: 1px solid $defaultColor;
    padding: 18px 12px;
    box-sizing: border-box;
    color: $defaultFontColor;
    box-sizing: border-box;
    font-family: $defaultFontFamily;
    font-size: $font-m;
    height: $defaultBoxHeight;
    cursor: pointer;
    user-select: none;
}

.check-box.is-checked {
    
    color: $defaultInputColor;
}