@import "_variables";

/* START: TableBox */
.table-box { 

}

.table-box button{
    border: $defaultBorder;
    box-shadow: 0px 2px 4px 0 rgba(174, 176, 177, 0.3);
}
    
    .table-box-header {
        margin-bottom: 20px;
    }

        .table-box-heading {
            display: inline-block;
            margin-right: 30px;
        }

        .number-displayed-heading {
            display: inline-block;
            color: #aaa;
            font-size: 16px;
        }

        .export-all {
            float: right;
            margin-right: 20px;
            width: 220px;
        }

        .customise {
            float: right;
        }

    .table-box-main {
        background-color: white;
        box-shadow: $default-box-shadow;
        padding: 12px 0;
        border-radius: $default-border-radius;
        margin-bottom: 12px;
        border: $defaultBorder;
    }
        .table-box-main li{
            padding: 0 36px;
            color: #9f9f9f;
        }
        
        .table-box-main .table-box-main-header {
            font-family: $fontFamilyBold;
            border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
            color: $fontBoldColor;            
        }
            
            .sort-icon {
                
                width: 20px;
                height: 20px;
                position: absolute;
                top: 30%;
            }
            
                .sort-icon-up polygon { 
                
                    fill:#D8D8D8; 
                }
                
                .sort-icon-up path {
                    
                    fill:#2794EA; 
                }
                
                .sort-icon-inactive path {
                    
                    fill:#D8D8D8; 
                    
                }
                
                .sort-icon-down polygon { 
                
                    fill:#D8D8D8; 
                }
                
                .sort-icon-down path {
                    
                    fill:#2794EA; 
                }
    
        .table-box-main span {
            
            display: inline-block;
            width: 19%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 0.5%;
            padding: 16px 0;
            
        }
            
        .table-box-main-header span {
            position: relative;
            user-select: none;
            cursor: pointer;
        }
        
        .table-column-sorted {
            
            color: #2894ea;;
        }
        
    .table-box-footer {
        height: 400px;
    }
        .table-box-footer .per-page {
            float: left;
            background-color: white;
            border-radius: $default-border-radius;
            padding-left: 12px;
            color: $default-font-color;
            box-shadow: $default-box-shadow;
            border: $defaultBorder;
            height: 46px;
        }
            .num-per-page {
                
                margin-left: 20px;
                display: inline-block;
                width: 68px;
                border: none;
                border-left: 1px solid rgba( 0, 0, 0, 0.1 );
                border-radius: 0;
                border-top-right-radius: $default-border-radius;
                border-bottom-right-radius: $default-border-radius;
                height: auto;
            }
            
            .num-per-page.is-opened {
                border-bottom-right-radius: 0;
            }
            
                .num-per-page .dropdown-header {
                    margin-right: -1px;
                    border-right: $defaultBorder;
                    border-top-right-radius: $default-border-radius;
                    border-bottom-right-radius: $default-border-radius;
                }
                
                    .num-per-page.is-opened .dropdown-header {
                        border-bottom-right-radius: 0;
                    }
            
                .num-per-page .dropdown-list {
                    border:0;
                    left: 0;
                    right: 0;
                }
                
                .num-per-page .dropdown-title {
                    
                    padding: 16px 0;
                }
                
                .num-per-page.is-selected-basic .dropdown-selected {
                    
                    padding: 16px 0;
                }

                    
        .pager {
            float: right;
            padding: 16px 0;
            background-color: white;
            border-radius: $default-border-radius;
            box-shadow: $default-box-shadow;
            border: $defaultBorder;
            color: $default-font-color;
        }
            
            .pager-prev, .pager-next, .pager-current {
                
                padding: 0 18px;
            }
            
            .pager-prev, .pager-next {
                
                user-select: none;
                cursor: pointer;
            }
            
            .pager-prev {
                border-right: $defaultBorder2;
                
            }
            
            .pager-next {
                border-left: $defaultBorder2;
                
            }
            
/* END: TableBox */